/** Animations CSS
 * Bring Stylus here
 * */

transition() {
  -webkit-transition: arguments;
  -moz-transition: arguments;
  -o-transition: arguments;
  transition: arguments;
}

animation() {
  -webkit-animation: arguments;
  -moz-animation: arguments;
  -o-animation: arguments;
  transition: arguments;
}

.entryrow.ng-enter,
.entryrow.ng-leave,
.entryrow.ng-move {
  transition: 0.5s all;
}


.entryrow.ng-enter,
.entryrow.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.listview .entryrow.ng-move.ng-move-active,
.listview .entryrow.ng-enter.ng-enter-active {
  opacity: 1;
  height: 3em;
}

.tableview .entryrow.ng-move.ng-move-active,
.tableview .entryrow.ng-enter.ng-enter-active {
  opacity: 1;
  height: 1em;
}

.entryrow.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.entryrow.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.view-container {
  position: relative;
  background: white;
}
.view-container .view-frame {
  /* This is required to avoid flicker when changing from position relative to absolute.
   * 20px is the margin-top of the next heading present in all views
   * */
  padding-top: 20px;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 0.5s fade-out;
  z-index: 99;
}


@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

