<h1>About</h1>

This is a demonstration for BetIt Group by Daniel Martínez Contador.
<dl>
<dt>Email</dt>
<dd><a href="mailto:danielmc@coit.es">danielmc@coit.es</a></dd>
<dt>LinkedIn</dt>
<dd><a href="https://linkedin.com/pub/daniel-mart%C3%ADnez-contador/69/b02/867">linkedin.com/pub/daniel-mart%C3%ADnez-contador/69/b02/867</a></dd>
</dl>

<p />

Click to reset the storage at any moment, and recreate the demo entries.<br />
<button ng-click="resetDb()" class="btn btn-danger">Reset</button>

<p />

Click to delete all the present entries, without resetting the demo.<br />
<button ng-click="emptyDb()" class="btn btn-danger">Clear</button>
